# Ensures exact versions are installed and saved in package.json
save-exact=true

# Disables caching of side effects to avoid issues with post-install scripts
# See https://github.com/evilmartians/lefthook/blob/1c92f5b80de7a210e4cd4c7fe1b29a0e9df8ddd3/docs/install.md?plain=1#L61
side-effects-cache=false
